body{
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s;
}
.sidebar{
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 50px;
    background-color: #f0f0f0;
}
.sidebar button{
    display: block;
    width: 120px;
    margin: 15px auto;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: whit;
}
.blue-btn{
    background-color: blue;
}
.cyan-btn{
    background-color: cyan;
}
.green-btn{
    background-color: green;
}
.random-btn{
    background-color: transparent;
    color: black;
    border: 2px solid black;
}
h4{
    color: black;
    text-align: center;
}